<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <style>
        .container {
            max-width: 560px;
            margin: auto;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }

    </style>
</head>
<body>
<div class="container">
    <div>
        <div>
            <h1>게시물 작성</h1>
        </div>
        <form action="post.html" th:action th:object="${postWriteDto}" method="post">
            <div>
                <label for="loginId">제목</label>
                <input type="text" id="loginId" th:field="*{title}"
                       th:errorclass="field-error">
                <div class="field-error" th:errors="*{title}">제목 오류</div>
            </div>
            <div>
                <label for="contents">본문</label>
                <textarea id="contents" th:field="*{contents}"
                          th:errorclass="field-error"
                          wrap="hard"></textarea>
                <div class="field-error" th:errors="*{contents}">본문 오류</div>
            </div>
            <div>
                <button type="submit">작성</button>
                <button th:onclick="|location.href='@{/post}'|" type="button">취소</button>
            </div>
        </form>
    </div>
</div>
</body>

</html>