<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <style>
        .container {
            max-width: 560px;
            margin: auto;
        }
        .title {
            text-align: center;
        }
        .btn-container {
            text-align: center;
        }
        .btn {
            display: inline-block;
        }
    </style>
</head>

<body>
<div class="container">
    <div>
        <h1 class="title">홈 화면</h1>
    </div>
    <div class="btn-container">
        <div class="btn">
            <button th:onclick="|location.href='@{/post}'|">
                게시판
            </button>
            <button th:if="!${member}" th:onclick="|location.href='@{/members/add}'|">
                회원 가입
            </button>
            <button th:if="!${member}" th:onclick="|location.href='@{/login}'|">
                로그인
            </button>
            <button th:if="${member}" th:onclick="|location.href='@{/logout}'|">
                로그아웃
            </button>
        </div>
    </div>
</div>

</body>
</html>
